<div class="top-slider">
  <div id="top-slider__slider" class="top-slider__slider">
    <app-first-slide></app-first-slide>
    <app-secound-slide></app-secound-slide>
    <app-third-slide></app-third-slide>
  </div>

  <button id="top-slider__prev" aria-label="Previous" class="top-slider__button top-slider__button--prev">
    <div class="top-slider__div top-slider__div--prev">Previous</div>
  </button>
  <button id="top-slider__next" aria-label="Next" class="top-slider__button top-slider__button--next">
    <div class="top-slider__div top-slider__div--next">Next</div>
  </button>

</div>
