@import "~scss/mixins.scss";

.top-slider {
  z-index: 1;
  margin-bottom: 75px;
  position: relative;

  @include respond-to(600px) {
    display: none;
  }

  &__button {
    position: absolute;
    height: 117px;
    width: 30px;
    border: none;
    background-color: #FFFFFF;
    font-size: 0;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &:focus .top-slider__div::before, &:focus .top-slider__div::after {
      background-color: #fd926d;
    }

  }

  &__div {
    height: 100%;
    width: 100%;
    position: relative;
    transition: 100ms;

    &::before, &::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 12px;
      background-color: #cbcbca;
      left: 50%;
      top: 50%;
      transition: 100ms;
    }

    &:hover::before, &:hover::after {
      background-color: #fd926d;
    }

    &--prev::before {
       transform: translate(-50%, 50%) rotate(45deg);
     }

    &--prev::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &--next::before {
      transform: translate(-50%, 50%) rotate(-45deg);
    }

    &--next::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

  }

}
