<div class="brands">
  <p class="brands__text">Favourite brands</p>
  <div class="brands__container">
    <img class="brands__item" src="assets/brand1.png" alt="">
    <img class="brands__item" src="assets/brand2.png" alt="">
    <img class="brands__item" src="assets/brand3.png" alt="">
    <img class="brands__item" src="assets/brand4.png" alt="">
    <img class="brands__item" src="assets/brand5.png" alt="">
    <img class="brands__item" src="assets/brand6.png" alt="">
    <img class="brands__item" src="assets/brand7.png" alt="">
    <img class="brands__item" src="assets/brand8.png" alt="">
  </div>
</div>

<section class="about">
  <div class="about__container">
    <h2 class="about__title">About LookShop</h2>
    <p class="about__text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
  </div>
</section>

<div class="payments">
  <p class="payments__text">We accept</p>
  <img class="payments__img" src="assets/payments.png" alt="Visa, MasterCard, PayPal">
</div>

<footer>
  <section class="menu">
    <div class="menu__container">
      <menu class="menu__row">
        <article class="menu__column menu__column--menu">
            <h3 class="menu__title">Customer Service</h3>
            <ul class="menu__list">
              <li class="menu__item"><a class="menu__link" href="">Contact</a></li>
              <li class="menu__item"><a class="menu__link" href="">FAQ</a></li>
              <li class="menu__item"><a class="menu__link" href="">Terms of payment</a></li>
              <li class="menu__item"><a class="menu__link" href="">Terms of sale</a></li>
              <li class="menu__item"><a class="menu__link" href="">Delivery terms and conditions</a></li>
              <li class="menu__item"><a class="menu__link" href="">Returns and Refunds</a></li>
            </ul>
        </article>
        <article class="menu__column menu__column--menu">
                <h3 class="menu__title">Information</h3>
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="">Affiliate</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Cookies</a></li>
                  <li class="menu__item"><a class="menu__link" href="">How to Shop</a></li>
                  <li class="menu__item"><a class="menu__link" href="">About Nelly</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Investor relations</a></li>
                </ul>
        </article>
        <article class="menu__column menu__column--menu">
                <h3 class="menu__title">Campaigns </h3>
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="">Evening dresses</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Makeup</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Fashion forward</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Training clothes</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Special Occasion Dresses</a></li>
                </ul>
        </article>
        <article class="menu__column menu__column--menu">
                <h3 class="menu__title">Stores</h3>
                <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link" href="">Paris</a></li>
                  <li class="menu__item"><a class="menu__link" href="">New York</a></li>
                  <li class="menu__item"><a class="menu__link" href="">London</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Madrid</a></li>
                  <li class="menu__item"><a class="menu__link" href="">Tokio</a></li>
                </ul>
        </article>
        <article class="menu__column menu__column--icon">
          <h3 class="menu__title">Social</h3>
          <ul class="menu__list menu__list--icons">
            <li class="menu__item">
              <a href="" class="menu__link menu__link--icon">
                <span class="menu__icon icon-twitter" aria-hidden="true"></span>
                <span class="menu__label">Twitter</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link menu__link--icon">
                <span class="menu__icon icon-pinterest-circled" aria-hidden="true"></span>
                <span class="menu__label">Pinterest</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link menu__link--icon">
                <span class="menu__icon icon-facebook" aria-hidden="true"></span>
                <span class="menu__label">Facebook</span>
              </a>
            </li>
            <br>
            <li class="menu__item">
              <a href="" class="menu__link menu__link--icon">
                <span class="menu__icon icon-vimeo" aria-hidden="true"></span>
                <span class="menu__label">Google+</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link menu__link--icon">
                <span class="menu__icon icon-tumblr" aria-hidden="true"></span>
                <span class="menu__label">Tumblr</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link menu__link--icon">
                <span class="menu__icon icon-vimeo" aria-hidden="true"></span>
                <span class="menu__label">Vimeo</span>
              </a>
            </li>
          </ul>
        </article>
        <img class="menu__img" src="assets/secured.png" alt="100% secured">
      </menu>
    </div>
  </section>
  <section class="footer">
    <div class="footer__container">
      <menu>
        <ul class="footer__list">
          <li class="footer__item"><a class="footer__link footer__link--first" href="">Privacy & Cookies</a></li>
          <li class="footer__item"><a class="footer__link" href="">Terms & Conditions</a></li>
          <li class="footer__item"><a class="footer__link" href="">Accessibility</a></li>
          <li class="footer__item"><a class="footer__link" href="">Store Directory</a></li>
          <li class="footer__item"><a class="footer__link footer__link--last" href="">About Us</a></li>
        </ul>
      </menu>
      <p class="footer__text">© LookShop.com<br>All Rights Reserved</p>
    </div>
  </section>
</footer>

