<div class="card">
  <button (click)="openCard()" id="card__button" class="card__button">Your cart</button>
  <div class="card__container">
    <div id="card__items" class="card__items">
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
      <div class="item">
        gfdfgdgdfgd
      </div>
    </div>
    <div class="card__price">0 items  |  {{ this.HeaderService.getChar() }} 0</div>
  </div>
</div>
