<div class="icons">
  <h3 class="icons__title">Find us here</h3>
  <a href="" class="icons__link">
    <span class="icons__icon icon-facebook" aria-hidden="true"></span>
    <span class="icons__label">Facebook</span>
  </a>
  <a href="" class="icons__link">
    <span class="icons__icon icon-twitter" aria-hidden="true"></span>
    <span class="icons__label">Twitter</span>
  </a>
  <a href="" class="icons__link">
  <span class="icons__icon icon-pinterest-circled" aria-hidden="true"></span>
  <span class="icons__label">Pinterest</span>
</a>
</div>
