<nav class="nav">
  <ul class="nav__first-list">
    <li class="nav__first-item">new
      <ul class="nav__sec-list">
        <li class="nav__sec-item">dsfsdf</li>
        <li class="nav__sec-item">dsfsdf</li>
        <li class="nav__sec-item">dsfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">designers
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">women
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">men
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">clearence
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
  </ul>
</nav>
