<nav class="nav">
  <ul class="nav__first-list">
    <li class="nav__first-item">New
      <ul class="nav__sec-list">
        <li class="nav__sec-item">dsfsdf</li>
        <li class="nav__sec-item">dsfsdf</li>
        <li class="nav__sec-item">dsfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">Designers
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">Women
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsgd</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">Men
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
    <li class="nav__first-item">Clearence
      <ul class="nav__sec-list">
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
        <li class="nav__sec-item">asfsdf</li>
      </ul>
    </li>
  </ul>
</nav>
